<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
   <!-- Material Kit CSS -->
   <link href="../static/css/material-dashboard.css?v=2.1.0" rel="stylesheet"/>
  
   <script src="../static/js/core/jquery.min.js"></script>
    <script src="../static/js/core/popper.min.js"></script>
    <script src="../static/js/core/bootstrap-material-design.min.js"></script>
    <script src="../https://unpkg.com/default-passive-events"></script>
    <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Chartist JS -->
    <script src="../static/js/plugins/chartist.min.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../static/js/material-dashboard.js?v=2.1.0"></script>
    <script src="../static/js/main.js"></script>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="{{ url_for("static", filename="img/sidebar-2.jpg") }}">
      <div class="logo">
        <a href="" class="simple-text logo-normal">
          DISS
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="javascript:void(0)">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <!-- your sidebar here -->
          <li class="nav-item active  ">
            <a class="nav-link" href="/upload/1">
              <i class="material-icons">cloud_upload</i>
              <p>Submit job</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
          <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Used Space</p>
                      <h3 class="card-title">49/50 <small>GB</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-warning">warning</i>
                            <a href="#pablo" class="warning-link">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">build</i>
                      </div>
                      <p class="card-category">Total jobs</p>
                      <h3 class="card-title">{{ data["count"] }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
          
            
            <div class="col-xl-4 col-lg-12">
              <div class="card card-chart">
                <div class="card-header card-header-warning">
                  <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Mean time to completion</h4>
                  <p class="card-category">Average time taken to complete tasks</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> 02:04
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12">
              <div class="card card-chart">
                <div class="card-header card-header-danger">
                  <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Completed Tasks</h4>
                  <p class="card-category">Number of completed tasks for previous week</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> 231
                  </div>
                </div>
              </div>
            </div>
          </div>


            </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://github.com/Syn3rman">
                  @Syn3rman
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
             Made with <i class="material-icons">favorite</i> by
            <a href="https://github.com/Syn3rman" target="_blank">Aditya</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>